.hero {
    background-image: url('../assets/mu.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
    filter: grayscale(1);
}

.hero-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: black;
}

.title {
    font-size: 36px;
    margin-bottom: 20px; 
}

.para {
    font-size: 18px; 
    line-height: 2rem;
    text-align: center;
}