.hero {
    background-image: url('../assets/mu.jpg'); 
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    
    filter: grayscale(1);
}

.hero-content {
    height: 100%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}

.text-center{
    text-align: center!important;
}

.title {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px; 
}

.para {
    font-size: 18px; 
    line-height: 2rem;
    text-align: center;
}

@media screen and (max-width: 925px) {
	.hero-content {
		background-size: cover;
	}

    .title {
		font-size: 35px;
        font-weight: 900;
		letter-spacing: var(--ls-mid);
	}

	.para {
		font-size: 1rem;
		line-height: var(--lh-big);
		padding-inline: 0.5rem;
	}
}