.products {
    background-color: #f9f9f9;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.product {
    text-align: center;
    margin: 20px;
    max-width: 300px;
}

.product img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product h3 {
    font-size: 24px;
    margin: 10px 0;
}

.product p {
    font-size: 16px;
    color: #666;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.nosCrea{
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
}