/* .services {
    background-color: #f9f9f9;
    padding: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service {
    text-align: center;
    margin: 20px;
    max-width: 300px;
}

.service i {
    font-size: 48px;
    color: #C08261; 
}

.service h3 {
    font-size: 24px;
    margin: 10px 0;
}

.service p {
    font-size: 16px;
    color: #666;
}
 */

        .art-section {
            background-color: #fff;
            padding: 20px;
            text-align: center;
            margin-top: 5rem;
            margin-bottom   : 5rem;
        }

        .art-section-header {
            color: #333;
            padding-bottom: 2rem;
            font-family: var(--secondary-font);
            font-size: 5rem;
        }

        .art-section-desc {
            color: #555;
            font-size: 1.2rem;
            font-family: var(--third-font);
        }

@media screen and (max-width: 925px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 80%;
        margin: 10px 0;
    }
}